:root {
  font-size: 16px;
}

footer {
  color: #fff;
}
body {
  color: #fff;
  background-image: url("img/background.png");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  text-align: initial;

  background-repeat: no-repeat;

  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

h2,
p,
button,
span {
  font-family: "Poppins", sans-serif;
}

.card-text {
  background-color: #111827;
  color: #fff;
  text-align: initial;
  box-shadow: 3px 4px 10px -3px rgba(14, 13, 13, 0.84);
  border-radius: 10px;
  height: fit-content;
  padding: 50px 50px !important;
}

.card-text button {
  font-weight: bold;
  width: 100%;
}

.card-text h2 {
  font-size: 2.5rem;
  line-height: 45px;

  margin-bottom: 40px;
}

.card-wheel {
  width: 80%;
}

.card-wheel img {
  width: 100%;
}

.ticker {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 20;
}

marquee {
  color: black;
}

.news {
  width: 100%;
  background: rgb(177, 123, 48);
  background: linear-gradient(
    90deg,
    rgba(177, 123, 48, 1) 5%,
    rgba(234, 187, 76, 1) 32%,
    rgba(249, 234, 132, 1) 49%,
    rgba(223, 175, 64, 1) 75%,
    rgba(177, 123, 48, 1) 100%
  );
}
.news-title {
  width: 180px;
  text-align: center;
  background: #d59b00;
  position: absolute;
  z-index: 10;
  height: 50px;
}
.news-title:after {
  position: absolute;
  content: "";
  right: -39px;
  border-left: 20px solid #d59b00;
  border-top: 28px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 21px solid transparent;
  top: 0px;
}
.news-title h5 {
  font-size: 17px;
  margin: 8% 0;
  color: #1e2022;
  font-weight: bold;
}
.news marquee {
  font-size: 18px;
  margin-top: 15px;
}
.news-content p {
  margin-right: 41px;
  display: inline;
  color: #1e2022;
}
